@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.btn {
  background: linear-gradient(
    96deg,
    rgba(45, 0, 90, 1) 0%,
    rgba(69, 30, 89, 1) 99%
  );
  font-weight: 700;
  box-shadow: 0px 4.42184px 115.23px rgba(90, 33, 159, 1);
}
.projectCount {
  background: linear-gradient(
    96deg,
    rgba(45, 0, 90, 1) 0%,
    rgba(69, 30, 89, 1) 99%
  );

  box-shadow: 0px 4.42184px 115.23px rgba(90, 33, 159, 1);
}
.filter {
  background: linear-gradient(
    96deg,
    rgba(45, 0, 90, 1) 0%,
    rgba(69, 30, 89, 1) 99%
  );
}

.btn:hover {
  box-shadow: 0px 4.42184px 100.23px rgba(90, 33, 159, 0.8);
}

.card-shadow {
  transition: all ease-in-out;
  box-shadow: 0px 4.42184px 40.23px rgba(90, 33, 159, 0.2);
}
.card-shadow:hover {
  box-shadow: 0px 4.42184px 50.23px rgba(90, 33, 159, 0.2);
}

.gradient {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
  background: linear-gradient(
    96deg,
    rgba(45, 0, 90, 1) 0%,
    rgba(69, 30, 89, 1) 99%
  );
}

.title-shadow {
  box-shadow: 0px 4.42184px 107.23px rgba(90, 33, 159, 0.9);
}

/* input field browser styling */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: #11071f !important;
  color: white !important;
}

/* scrollbar */

#scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #5b4040;
}

#scrollbar::-webkit-scrollbar {
  width: 12px;
  background-color: #aa1515;
}

#scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #822ada;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }

  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#b936ee] to-[#451e59] font-bold font-primary;
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
  .about-section {
    @apply py-8 lg:py-24  flex items-center;
  }
  .skill-section {
    @apply py-8 lg:py-24  flex items-center;
  }
  .services-section {
    @apply py-8 lg:py-24  flex items-center;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* animated down arrow */
.down-arrow {
  position: relative;
  top: -5px;
  width: 12px;
  height: 12px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
  animation: jumpInfinite 1.5s infinite;
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 15px;
  }
  100% {
    margin-top: 0;
  }
}
